

$main-background-color  :   #fdfdfd;
$border-color           :   #da5238;
/*Links*/
$not-clicked-link       :   #4a4a4a;
$clicked-link           :   #0000b3;
$hover-link             :   #2f88a3;
$link-click-hold        :   #ffd800;

$body-background-color  :   #fafafa;